<launch>	
    <node pkg="groundtruth_data_adapter" type="groundtruth_data_adapter.py" name="groundtruth_data_adapter" output="screen">
	<param name="environment"    value="rx2" />
	<param name="gtruth_file"      value="$(find groundtruth_data_adapter)/data/rx2/log_estimated_path.txt" />
	<param name="tstamp_file"    value="$(find groundtruth_data_adapter)/data/rx2/3_hokuyo_processed.txt" />
	
    </node>
</launch>
