<launch>	
    <arg name="scenario"      default="pare" />
	
	<!-- Launch Map-->
    <arg name="map_file"    default="$(arg scenario).yaml"                                               />
    <arg name="map_path" default="/home/fer/catkin_ws/src/rodaad/maps/$(arg scenario)/"  />
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_path)$(arg map_file)" />
	
	<!-- Set simulation time to synchronize bag files and node data-->
	<param name="/use_sim_time" type="bool" value="true" />             

	<!-- Launch Rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d /home/fer/catkin_ws/src/rodaad/rodaad.rviz">
	</node>

	<!--Play .bag files -->
	<arg name="path" default="/home/fer/.ros/"/>
	
	<!-- Play groundtruth rosbag -->
	<arg name="file0" default="groundtruth_path_pare"/>
	<node name="player0" pkg="rosbag" type="play" output="screen"  args="--clock $(arg path)$(arg file0).bag" />
	
	<!-- Play laser rosbag -->
	<arg name="file1" default="laser_pare"/>
	<node name="player1" pkg="rosbag" type="play" output="screen"  args=" $(arg path)$(arg file1).bag"/>

	<!-- Play !!!!!!!!!!!RGB-D1 PointCloud!!!!!!!!!!!!! rosbags -->
	<arg name="file2" default="pc1_pare_tstampsrestados"/>                                       
	<node name="player2" pkg="rosbag" type="play" output="screen" args=" $(arg path)$(arg file2).bag" />

	<!-- Play !!!!!!!!!!!RGB-D2 PointCloud!!!!!!!!!!!!! rosbags -->                                                                    
	<arg name="file3" default="pc2_pare_tstampsrestados"/>                                       
	<node name="player3" pkg="rosbag" type="play" output="screen" args=" $(arg path)$(arg file3).bag" launch-prefix="bash -c 'sleep 0.4; $0 $@' " />

	<!-- Play !!!!!!!!!!!RGB-D3 PointCloud!!!!!!!!!!!!! rosbags -->                                                                    
	<arg name="file4" default="pc3_pare_tstampsrestados"/>                                       
	<node name="player4" pkg="rosbag" type="play" output="screen" args=" $(arg path)$(arg file4).bag" />
	
	<!-- Play !!!!!!!!!!!RGB-D4 PointCloud!!!!!!!!!!!!! rosbags -->                                                                    
	<arg name="file5" default="pc4_pare_tstampsrestados"/>                                       
	<node name="player5" pkg="rosbag" type="play" output="screen" args=" $(arg path)$(arg file5).bag"  />
		
	<!--arg name="file6" default="rgbd1_img_pare"/ -->                                       
	<!--node name="player6" pkg="rosbag" type="play" output="screen" args=" $(arg path)$(arg file6).bag" / -->
</launch>
