<launch>	
	<!-- Set simulation time to synchronize bag files and node data-->
	<param name="/use_sim_time" type="bool" value="true" />                                                                                                                        >

	<!--Play .bag files -->
	<arg name="path" default="/home/fer/.ros/"/>
	
	<!-- Play groundtruth rosbag -->
	<!--arg name="file0" default="groundtruth_alma"/-->
	<!--node name="player0" pkg="rosbag" type="play" output="screen"  args="-clock $(arg path)$(arg file0).bag" / -->
	
	<!-- Play laser rosbag -->
	<arg name="file1" default="laser_alma"/>
	<node name="player1" pkg="rosbag" type="play" output="screen"  args="--clock $(arg path)$(arg file1).bag"/>
																								               
	<!-- Play rgbd rosbags -->                                                                    
	<!--arg name="file2" default="rgbd1_pc_alma"/ -->                                       
	<!--node name="player2" pkg="rosbag" type="play" output="screen" args="-clock $(arg path)$(arg file2).bag" / -->
	
	<!-- Play odom rosbag -->
	<arg name="file3" default="odom5_alma"/>
	<node name="player3" pkg="rosbag" type="play" output="screen"  args="--clock $(arg path)$(arg file3).bag"/>
	
	<!--arg name="file6" default="rgbd1_img_alma"/ -->                                       
	<!--node name="player6" pkg="rosbag" type="play" output="screen" args="-clock $(arg path)$(arg file6).bag" / -->
</launch>
