<launch>	
	<!-- Set simulation time to synchronize bag files and node data-->
	<param name="/use_sim_time" type="bool" value="true"/>
	
	<!-- Map Server -->
	<node pkg="mrpt_map" type="map_server_node" name="map_server_node" output="screen">
	<param name="debug" value="false"/> 
	<param name="frame_id" value="map"/> 
	<param name="frequency" value="1"/> 
	<param name="ini_file" value="$(find odom_data_adapter)/maps/map.ini"/> 
	<param name="map_file" value="$(find odom_data_adapter)/maps/alma.simplemap"/> 
	</node>
	
	<!-- Place map frame at odometry frame -->
	<node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 map odom 100" />
	
	<!-- Launch Odom_adapter_node -->
	<node pkg="odom_data_adapter" type="odom_data_adapter" name="odom_data_adapter" output="screen">
	<!-- 0.5cm x,y 0.1 degree theta-->
	<param name="var_x"     value="0.000025"/> 
	<param name="var_y"     value="0.000025"/> 
	<param name="var_theta" value="0.000003" /> 
	<!--param name="var_x"     value="0.0"/--> 
	<!--param name="var_y"     value="0.0"/--> 
	<!--param name="var_theta" value="0.0"/--> 
	</node>
	
	<!-- Play laser and groundtruth rosbags -->
	<arg name="file1"  default="laser_data_alma"/>
	<arg name="file2" default="groundtruth_alma"/>
	<arg name="path" default="/home/fer/.ros/"/>
	<node name="player" pkg="rosbag" type="play" output="screen" args="--clock $(arg path)$(arg file2).bag $(arg path)$(arg file1).bag" />
	
</launch>